<article class="product-card">
  <div class="product-card__badge">@badge</div>


  <img class="product-card__image" src="@img" alt="@alt">


  <div class="product-card__info">
    <h3 class="product-card__brand">@brand</h3>
    <p class="product-card__title">@title</p>

    <div class="product-card__prices">
      <span class="product-card__price--new">@priceNew</span>
      <span class="product-card__price--old">@priceOld</span>
    </div>
  </div>

  <button class="product-card__cart-btn">
    <svg width="24" height="24" fill="currentColor">
      <use xlink:href="img/sprite.svg#basket"></use>
    </svg>
  </button>
</article>