<article class="review-card">
    <div class="review-card__person">
        <div class="review-card__image">
            <picture>
                <source srcset="img/about-page/reviews/@img.avif" type="image/avif">
                <source srcset="img/about-page/reviews/@img.webp" type="image/webp">
                <img src="img/about-page/reviews/@img.jpg" alt="@name" loading="lazy">
            </picture>
        </div>
        <span class="review-card__name">@name</span>
    </div>
    <div class="review-card__inner">
        <span class="review-card__sity">@sity</span>
        <div class="review-card__text">
            <p>
                Текст отзыва, большой, красивый, призывающий присоединиться к покупке товаров на сайте. Текст отзыва, большой, красивый, призывающий присоединиться к покупке товаров на сайте. Текст отзыва, большой, красивый, призывающий присоединиться
            </p>
        </div>
        <a class="review-card__more" href="#">Читать полностью</a>
    </div>

</article>