<article class="review-card">
  <div class="review-card__person">
    <picture>
      <source srcset="img/about-page/reviews/@img.avif" type="image/avif">
      <source srcset="img/about-page/reviews/@img.webp" type="image/webp">
      <img class="review-card__img" src="img/about-page/reviews/@img.jpg" alt="@name" loading="lazy">
    </picture>
    <span class="review-card__name">@name</span>
  </div>
  <div class="review-card__inner">
    <span class="review-card__sity">@sity</span>
    <div class="review-card__text">
      <p>
        Текст отзыва, большой, красивый, призывающий присоединиться к покупке товаров на сайте. Текст отзыва,
        большой, красивый,
        призывающий присоединиться к покупке товаров на сайте. Текст отзыва, большой, красивый, призывающий
        присоединиться
      </p>
    </div>
    <a class="review-card__more" href="#">Читать полностью</a>
  </div>

</article>