<article class="reviews-card">
  <div class="reviews-card__person">
    <picture>
      <source srcset="img/.avif" type="img/about-page/reviews/@img.avif">
      <source srcset="img/.webp" type="img/about-page/reviews/@img.webp">
      <img class="reviews-card__img" src="img/about-page/reviews/@img.jpg" alt="@name" loading="lazy">
    </picture>
    <span class="reviews-card__name">@name</span>
  </div>
  <div class="reviews-card__inner">
    <span class="reviews-card__sity">@sity</span>
    <div class="reviews-card__text">
      <p>
        Текст отзыва, большой, красивый, призывающий присоединиться к покупке товаров на сайте. Текст отзыва,
        большой, красивый,
        призывающий присоединиться к покупке товаров на сайте. Текст отзыва, большой, красивый, призывающий
        присоединиться
      </p>
    </div>
    <a class="reviews-card__more" href="#">Читать полностью</a>
  </div>

</article>