@mixin font-face($font-family, $url, $weight) {
	@font-face {
		font-family: '#{$font-family}';
		src:
			url('../fonts/#{$url}.woff2') format('woff2'),
			url('../fonts/#{$url}.woff') format('woff');
		font-weight: #{$weight};
		font-display: swap;
		font-style: normal;
	}
}

// Golos text
@include font-face('Golos Text', GolosText-Regular, 400);
@include font-face('Golos Text', GolosText-SemiBold, 600);

// adineue pro cyr
@include font-face('adineue PRO Cyr', adineueprocyr-light-web, 400);
@include font-face('adineue PRO Cyr', adineueprocyr-bold-web, 700);
