.dealer {
	&__title {
		margin-bottom: 60px;
		text-align: center;

		@include mq(lg) {
			margin-bottom: 40px;
		}

		@include mq(sm) {
			margin-bottom: 20px;
		}
	}

	&__swiper {
		padding-bottom: 60px;
	}

	&__text {
		font-size: 28px;
		text-align: center;

		@include mq(lg) {
			font-size: 24px;
		}

		@include mq(md) {
			font-size: 18px;
		}
	}

	&__items {
		align-items: center;
		justify-content: space-between;
	}

	.swiper-slide-active {
		max-width: 498px;

		.dealer-card {
			&__image {
				height: 350px;

				@include mq(lg) {
					height: 290px;
				}
			}

			&__body {
				display: block;
			}
		}
	}

	.swiper-pagination-bullet {
		margin: 0 20px 0 0 !important;
		width: 10px;
		height: 10px;
		background-color: var(--color-dark-800);
		opacity: 0.5;
		transition: opacity 0.3s;
	}

	.swiper-pagination-bullet-active {
		opacity: 1;
	}
}
