<section class="dealer @class">
    <div class="container">
        <h2 class="dealer__title title">@title</h2>
        <div class="dealer__swiper swiper">
            <ul class="dealer__items swiper-wrapper">
                <li class="dealer__item swiper-slide">
                    <article class="dealer-card">
                        <div class="dealer-card__image">
                            <picture>
                                <source srcset="img/dealer/1.avif" type="image/avif">
                                <source srcset="img/dealer/1.webp" type="image/webp">
                                <img src="img/dealer/1.png" alt="Rush Wave Логотип" loading="lazy">
                            </picture>
                        </div>
                        <div class="dealer-card__body">
                            <h3 class="dealer-card__title">JETFLY</h3>
                            <div class="dealer-card__text">
                                <p>
                                    Китайская компания Rush Wave нашла баланс, став «золотой серединой» для тех, кто ценит надежность, технологичность и разумную цену
                                </p>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="dealer__item swiper-slide">
                    <article class="dealer-card">
                        <div class="dealer-card__image">
                            <picture>
                                <source srcset="img/dealer/2.avif" type="image/avif">
                                <source srcset="img/dealer/2.webp" type="image/webp">
                                <img src="img/dealer/2.png" alt="Rush Wave Логотип" loading="lazy">
                            </picture>
                        </div>
                        <div class="dealer-card__body">
                            <div class="dealer-card__text">
                                <p>
                                    Китайская компания Rush Wave нашла баланс, став «золотой серединой» для тех, кто ценит надежность, технологичность и разумную цену
                                </p>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="dealer__item swiper-slide">
                    <article class="dealer-card">
                        <div class="dealer-card__image">
                            <picture>
                                <source srcset="img/dealer/3.avif" type="image/avif">
                                <source srcset="img/dealer/3.webp" type="image/webp">
                                <img src="img/dealer/3.png" alt="Rush Wave Логотип" loading="lazy">
                            </picture>
                        </div>
                        <div class="dealer-card__body">
                            <h3 class="dealer-card__title">JETFLY</h3>
                            <div class="dealer-card__text">
                                <p>
                                    Китайская компания Rush Wave нашла баланс, став «золотой серединой» для тех, кто ценит надежность, технологичность и разумную цену
                                </p>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="dealer__item swiper-slide">
                    <article class="dealer-card">
                        <div class="dealer-card__image">
                            <picture>
                                <source srcset="img/dealer/1.avif" type="image/avif">
                                <source srcset="img/dealer/1.webp" type="image/webp">
                                <img src="img/dealer/1.png" alt="Rush Wave Логотип" loading="lazy">
                            </picture>
                        </div>
                        <div class="dealer-card__body">
                            <h3 class="dealer-card__title">JETFLY</h3>
                            <div class="dealer-card__text">
                                <p>
                                    Китайская компания Rush Wave нашла баланс, став «золотой серединой» для тех, кто ценит надежность, технологичность и разумную цену
                                </p>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="dealer__item swiper-slide">
                    <article class="dealer-card">
                        <div class="dealer-card__image">
                            <picture>
                                <source srcset="img/dealer/2.avif" type="image/avif">
                                <source srcset="img/dealer/2.webp" type="image/webp">
                                <img src="img/dealer/2.png" alt="Rush Wave Логотип" loading="lazy">
                            </picture>
                        </div>
                        <div class="dealer-card__body">
                            <div class="dealer-card__text">
                                <p>
                                    Китайская компания Rush Wave нашла баланс, став «золотой серединой» для тех, кто ценит надежность, технологичность и разумную цену
                                </p>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="dealer__item swiper-slide">
                    <article class="dealer-card">
                        <div class="dealer-card__image">
                            <picture>
                                <source srcset="img/dealer/3.avif" type="image/avif">
                                <source srcset="img/dealer/3.webp" type="image/webp">
                                <img src="img/dealer/3.png" alt="Rush Wave Логотип" loading="lazy">
                            </picture>
                        </div>
                        <div class="dealer-card__body">
                            <h3 class="dealer-card__title">JETFLY</h3>
                            <div class="dealer-card__text">
                                <p>
                                    Китайская компания Rush Wave нашла баланс, став «золотой серединой» для тех, кто ценит надежность, технологичность и разумную цену
                                </p>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
        @if(typeof text !== 'undefined' && text) {
        <p class="dealer__text">@text</p>
        }
    </div>
</section>