<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<ul class="footer__list">
				<li class="footer__item">
					<a class="footer__link" href="#">Главная</a>
				</li>
				<li class="footer__item">
					<a class="footer__link" href="#">Каталог</a>
				</li>
				<li class="footer__item">
					<a class="footer__link" href="#">Новости</a>
				</li>
				<li class="footer__item">
					<a class="footer__link" href="#">О нас</a>
				</li>
			</ul>

			<div class="footer__contacts">
				<span class="footer__hyperlink">Контакты</span>
				<a class="footer__tel" href="tel:+79957917885">+7 995 791-78-85</a>
				<a class="footer__gmail" href="mailto:inbox@jetsurfhouse.ru">inbox@jetsurfhouse.ru</a>
				<span class="footer__address">г. Москва, ул. 2-ая Магистральная, 16</span>
			</div>

			<ul class="social">
				<li class="social__item">
					<a class="social__link" href="#">
						<img class="social__img" src="img/social/instagram.svg" alt="instagram" />
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#">
						<img class="social__img" src="img/social/telegram.svg" alt="telegram" />
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#">
						<img class="social__img" src="img/social/youtube.svg" alt="youtube" />
					</a>
				</li>
			</ul>

			<form class="contact-form">
				<span class="contact-form__title">Оставьте свои контакты</span>
				<p class="contact-form__text">Мы вам ответим в ближайшее время</p>
				<input class="contact-form__input" id="email" type="email" name="email" placeholder="email@email.com" required autocomplete="email" />
				<button class="contact-form__btn button button--gradient" type="submit">Отправить заявку</button>
				<p class="contact-form__privacy">Нажимая на кнопку, вы принимаете условия <a class="contact-form__link" href="#">политики конфиденциальности</a></p>
			</form>
		</div>
	</div>
</footer>
