<a class="_link-call _button _button--primary" href="tel:+79957917885" aria-label="Позвонить">
    <svg class="_link-call__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.82812 0.766208C3.09057 0.504149 3.40572 0.30086 3.75268 0.169812C4.09965 0.0387634 4.4705 -0.0170514 4.84066 0.00606622C5.21083 0.0291838 5.57185 0.130706 5.89982 0.303905C6.22778 0.477103 6.51519 0.718024 6.743 1.0107L9.43541 4.46959C9.9289 5.10407 10.1029 5.93055 9.9079 6.71052L9.08742 9.99542C9.0453 10.1656 9.04774 10.3437 9.0945 10.5126C9.14127 10.6816 9.23079 10.8356 9.35441 10.9599L13.0398 14.6453C13.1642 14.7692 13.3185 14.8588 13.4877 14.9056C13.657 14.9524 13.8354 14.9547 14.0058 14.9123L17.2892 14.0918C17.6741 13.9961 18.0757 13.9889 18.4639 14.0708C18.852 14.1526 19.2165 14.3213 19.5301 14.5643L22.989 17.2552C24.2324 18.2227 24.3464 20.0601 23.2335 21.1716L21.6825 22.7225C20.5726 23.8325 18.9136 24.32 17.3672 23.7755C13.4083 22.3844 9.81421 20.1182 6.85249 17.1457C3.88014 14.1844 1.61398 10.5909 0.222699 6.63252C-0.320284 5.08757 0.167201 3.42712 1.27717 2.31716L2.82812 0.766208Z" fill="currentColor" />
    </svg>
</a>
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="#">Главная</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Каталог</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Новости</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">О нас</a>
                </li>
            </ul>

            <div class="footer__contacts">
                <span class="footer__subtitle">Контакты</span>
                <a class="footer__contact" href="tel:+79957917885">+7 995 791-78-85</a>
                <a class="footer__contact" href="mailto:inbox@jetsurfhouse.ru">inbox@jetsurfhouse.ru</a>
                <span>г. Москва, ул. 2-ая Магистральная, 16</span>
            </div>

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank" aria-label="instagram">
                        <span class="social__icon" style="background-image: url('img/social/instagram.svg');" aria-hidden></span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank" aria-label="telegram">
                        <span class="social__icon" style="background-image: url('img/social/telegram.svg');" aria-hidden></span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank" aria-label="youtube">
                        <span class="social__icon" style="background-image: url('img/social/youtube.svg');" aria-hidden></span>
                    </a>
                </li>
            </ul>

            <form class="contact-form">
                <div class="contact-form__header">
                    <span class="contact-form__title">Оставьте свои контакты</span>
                    <p class="contact-form__text">Мы ответим вам в ближайшее время</p>
                </div>
                <label class="sr-only" for="contact-form-email">Введите свою электронную почту</label>
                <input class="_field" id="contact-form-email" type="email" name="email" placeholder="email@email.com" required autocomplete="email" />
                <button class="contact-form__btn _button _button--gradient" type="submit">Отправить заявку</button>
                <p class="contact-form__privacy">Нажимая на кнопку, вы принимаете условия <a class="contact-form__link" href="#">политики конфиденциальности</a></p>
            </form>
        </div>
    </div>
</footer>