// Бургер-меню
.header__burger {
  display: none; // Скрыто по умолчанию

  @include mq(lg) {
    display: block;
    width: 30px;
    height: 20px;
    margin-left: 20px;
    position: relative;
    z-index: 11;
    order: 3;
    cursor: pointer;
    background-color: var(--color-blue-400); // середина
    transition: all 0.3s ease;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--color-blue-400);
      left: 0;
      transition: all 0.3s ease;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active {
      background-color: transparent; // скрываем середину

      &::before {
        transform: rotate(45deg);
        top: 50%;
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 50%;
      }
    }
  }
}