.header {
	position: relative;
	z-index: 20;
	padding: 15px 0;

	&__navigation {
		@include flex-alignment(0, space-between);

		font-family: var(--font-secondary);
		font-weight: 400;
	}

	&__inner {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__basket {
		position: relative;
		padding: 8px;
	}

	&__num {
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 30px;
		padding: 0 4px;
		font-weight: 600;
		font-size: 8px;
		text-align: center;
		color: var(--color-white);
		background-color: var(--color-red-600);
	}

	&__svg {
		width: 28px;
		height: 28px;
	}
}
