.header {
  padding: 30px 0;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-secondary), 'Arial', sans-serif;
    font-weight: 400;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__basket {
    position: relative;
    padding: 8px;

    .header__num {
      font-weight: 600;
      font-size: 8px;
    }
  }

  &__num {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    top: 0px;
    right: 0px;
    font-size: 11px;
    color: white;
    text-align: center;
    line-height: 150%;
  }

  &__svg {
    width: 28px;
    height: 28px;
  }

}