.reviews-about {
  padding-bottom: 80px;

  &__wrapper {
    overflow: visible
  }

  &__slide {
    max-width: 512px;
    flex-shrink: 0;
    padding: 20px;
    margin-bottom: 30px;
    font-family: var(--font-secondary);

    @include mq(xxl) {
      max-width: 444px;
    }

    @include mq(xl) {
      max-width: 490px;
    }

    @include mq(sm) {
      max-width: 100%;
    }
  }

  &__arrow-box {
    display: flex;
    justify-content: space-between;
  }

  .swiper-horizontal>.swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal {
    width: 100%;
    height: 10px;
    left: 0;
    top: 0;
  }

  &__pagination {
    display: none;
    width: 100%;
    height: 10px;
    margin-top: 20px;

    .swiper-pagination-progressbar {
      background-color: var(--color-blue-200);
      height: 100%;
      border-radius: 5px;
    }

    .swiper-pagination-progressbar-fill {
      background-color: var(--color-dark-800);
      height: 100%;
      border-radius: 5px;
    }

    @include mq(lg) {
      display: flex;
      position: relative;
    }
  }

  &__arrow {
    width: 54px;
    height: 54px;
    background-image: url('../img/about-page/reviews/arrow.svg');
    background-size: 22px 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 2px solid var(--color-blue-400);
    border-radius: 50%;

    &--next {
      transform: rotate(180deg);
    }

    @include mq(lg) {
      display: none;
    }
  }
}